* {
  box-sizing: border-box;
}
body {
  font-family: "Times New Roman", Times, serif;
  background-image: linear-gradient(
    179.4deg,
    rgba(12, 20, 69, 1) -16.9%,
    rgba(71, 30, 84, 1) 119.9%
  );
}
img {
  border-radius: 5px;
}
.tk1 {
  position: relative;
  border-radius: 30px;
  width: 8vw;
  height: 3vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tk {
  font-size: 1.3vw;
}
.logo a img {
  width: 14vw;
  height: 6vw;
}
.login {
  font-size: 1.1vw;
  width: 8vw;
  height: 3.5vw;
  background-image: linear-gradient(
    179.4deg,
    rgba(12, 20, 69, 1) -16.9%,
    rgba(71, 30, 84, 1) 119.9%
  );
  text-align: center;
  position: absolute;
  z-index: 2;
}
.head {
  display: flex;
  background-color: rgba(0, 0, 0, 0.421);
  align-items: center;
}
.header {
  margin-bottom: 5px;
}
.taikhoan {
  margin-left: auto;
  margin-right: 30px;
  cursor: pointer;
  color: white;
}
li a {
  font-size: 1.2vw;
  margin: 0 1vw;
}
.ul {
  display: flex;
  background-color: azure;
  justify-content: center;
  gap: 6px;
  font-weight: 800;
}
.header {
  position: sticky;
  top: 0;
  z-index: 1;
}
.ul li:hover {
  background-color: rgba(0, 0, 0, 0.333);
}
.ul li {
  display: flex;
  padding: 10px;
}
.ul li a {
  text-decoration: none;
  color: black;
}
.tpbody {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.body {
  /*nen xoa */
  width: 80%;
}
/* tim kiem */
.csearch {
  position: relative;
  display: flex;
}
.text {
  text-align: center;
  width: 3vw;
  height: 3vw;
  color: black;
  font-size: 1vw;
  border-radius: 50px;
  border: solid 2px rgb(241, 238, 241);
  transition: 0.8s;
  justify-content: center;
  align-items: center;
}
.search {
  display: flex;
  justify-content: center;
  position: relative;
  height: 2vw;
  margin-top: 2vw;
}
.but {
  font-size: 1.5vw;
  cursor: pointer;
  width: 3.8vw;
  height: 3.8vw;
  border-radius: 50px;
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -0.5vw;
  left: -0.5vw;
  position: absolute;
  transition: 0.8s;
}
.text.fix {
  width: 45vw;
  border-radius: 50px;
  padding-left: 4vw;
}
.but:focus,
.text.fix:focus {
  outline: none;
}
#i {
  transition: transform 0.8s ease;
}

#i.ii {
  transform: rotate(450deg);
}
/* truyen de cu */
.h2 {
  color: transparent;
  background-clip: text;
  background-image: radial-gradient(
    circle 993px at 0.5% 50.5%,
    rgba(137, 171, 245, 0.37) 0%,
    rgba(245, 247, 252, 1) 100.2%
  );
  font-size: 2vw;
}
.truyenmoi {
  width: 20%;
  height: 40vw;
  background-size: cover;
  background-position: center;
  position: relative;
}
.truyennew {
  display: flex;
  flex: 1;
  gap: 5px;
}
.fullmh {
  flex: 1;
}
.thongtin {
  width: 100%;
  height: 40%;
  background-color: rgba(0, 0, 0, 0.419);
  position: relative;
  top: 60%;
  color: white;
}
.doc {
  text-decoration: none;
  color: white;
  height: 3vw;
  border-radius: 30px;
  background-color: red;
  position: absolute;
  right: 3px;
  bottom: 5px;
  width: 8vw;
  font-size: 1.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  position: relative;
}
.arow .fa-solid {
  text-align: center;
  font-size: 4.8vw;
  width: 5vw;
  height: 5vw;
  background-color: rgba(245, 245, 220, 0.433);
  border-radius: 50%;
  position: absolute;
  top: 40%;
  cursor: pointer;
}
.arow {
  opacity: 0;
}
.right {
  right: 0;
}

.log-in {
  width: 25vw;
  height: 30vw;
  background-image: linear-gradient(
    179.4deg,
    rgba(12, 20, 69, 1) -16.9%,
    rgba(71, 30, 84, 1) 119.9%
  );
  border-radius: 10px;
  border: solid 2px white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dangnhap {
  margin: 2px;
  width: 20vw;
  height: 3vw;
  border-radius: 10px;
  background-color: rgb(199, 190, 204);
  font-size: 1vw;
}
.dangnhap:focus {
  outline: none;
}
.submit {
  margin-top: 1vw;
  width: 20vw;
  height: 2.5vw;
  border-radius: 10px;
  background-color: red;
  color: white;
}
.formdn {
  position: fixed;
  z-index: 2;
  left: 38%;
  top: 20%;
}
.x {
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: rgba(106, 126, 126, 0.837);
  text-align: center;
  font-size: 20px;
}
.giaodien {
  color: black;
  margin-left: -15vw;
}
/* an dang nhap */
.hide {
  display: none;
}
.danhsachchinh {
  width: 80%;

  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
}
.danhsach {
  flex: 7;
  background-color: rgba(158, 167, 167, 0.162);
}
.upload {
  flex: 3;
  background-color: rgba(0, 0, 0, 0.173);
}
.canchinh {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  justify-content: center;
}
.img {
  width: 12vw;
  height: 18vw;
}
.liImg {
  font-size: 1vw;
  padding: 0.7vw;
  color: aliceblue;
  margin: 4px;
  cursor: pointer;
  border-radius: 50%;
  border: solid 1.5px rgb(145, 134, 134);
  text-decoration: none;
}
.ulImg {
  display: flex;
  justify-content: center;
}
.mauTrang {
  background: rgba(0, 0, 0, 0.605);
}
.pCreat {
  width: 12vw;
  display: block;
  cursor: pointer;
  color: aliceblue;
  padding: 0.5vw;
  background-color: red;
  border-radius: 10px;
  text-align: center;
  font-size: 1.2vw;
}
.overlay {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  overflow-y: auto;
  background-color: rgba(237, 235, 235, 0.085);
}
.iframe-container {
  position: relative;
  margin: 50px auto;
  background-image: linear-gradient(
    179.4deg,
    rgba(12, 20, 69, 1) -16.9%,
    rgba(71, 30, 84, 1) 119.9%
  );
  width: 80%;
  padding: 20px;
  border-radius: 10px;
}
.close-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  background-image: linear-gradient(
    179.4deg,
    rgba(12, 20, 69, 1) -16.9%,
    rgba(71, 30, 84, 1) 119.9%
  );
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}
.imgChiTiet {
  width: 15vw;
  height: 22vw;
}
.thongTin {
  display: flex;
  width: 100%;
}
.phanThongTin {
  display: flex;
  flex: 6;
}
.phanChap {
  flex: 4;
  overflow: auto;
  height: 80vh;
}
.ulChiTiet {
  margin-left: 10px;
  word-break: break-all;
  color: aliceblue;
}

.h3 {
  display: inline;
}

.divChap {
  height: 20px;
  display: flex;
  cursor: pointer;
}
.divChap:hover {
  color: azure;
  background-color: rgba(13, 20, 20, 0.564);
}
.pageTrang {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow-y: auto;
  background-color: rgba(237, 235, 235, 0.085);
}
.hienThiTrang {
  position: relative;
  margin: 0px auto;
  width: 100%;

  border-radius: 10px;
  background-image: linear-gradient(
    179.4deg,
    rgba(12, 20, 69, 1) -16.9%,
    rgba(71, 30, 84, 1) 119.9%
  );
}
.close {
  position: absolute;
  top: 0px;
  right: 0px;
  background-image: linear-gradient(
    179.4deg,
    rgba(12, 20, 69, 1) -16.9%,
    rgba(71, 30, 84, 1) 119.9%
  );
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}
.thongTinTrang {
  overflow: auto;
  height: 100vh;
}
.imgTrangTruyen {
  display: flex;
  justify-self: center;
  width: 50vw;
  height: auto;
}
.divChap {
  color: aliceblue;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: rgba(240, 248, 255, 0.132);
  margin: 5px auto;
}
hr {
  border-color: rgb(39, 17, 80);
  margin-right: 4px;
}
.nameStory {
  padding: 4px;
  margin-bottom: 15px;
  background-color: rgba(0, 0, 0, 0.381);
  border-radius: 4px;
  margin-right: 3px;
}
.giaodien {
  color: antiquewhite;
  font-size: 1.2vw;
}
.mcn {
  color: transparent;
  background-clip: text;
  background-image: radial-gradient(
    circle 993px at 0.5% 50.5%,
    rgba(137, 171, 245, 0.37) 0%,
    rgba(245, 247, 252, 1) 100.2%
  );
  font-size: 2.2vw;
}
.user_khach_hang {
  display: flex;
  align-items: center;
  display: none;
}
.anh_dai_dien {
  width: 2.4vw;
  height: 2.4vw;
  border: solid 2px rgb(234, 179, 179);
  border-radius: 50%;
}
.name_khach_hang {
  font-size: 1.3vw;
}
/* the loai */
.theloai2 {
  width: 40vw;
  visibility: hidden;
  background-color: rgba(139, 129, 129, 0.801);
  position: absolute;
  border-radius: 20px;
  transform: translate(10vw);
}
.theLoai {
  position: relative;
}
.divtheloai2,
.divtheloai {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.atheloai {
  cursor: pointer;
  display: flex;
  border: solid 1px black;
  border-radius: 20px;
  margin: 5px;

  width: 7vw;
  height: 2vw;
  justify-content: center;
  align-items: center;
}
.ptheloai {
  font-size: 0.8vw;
  font-weight: 600;
}
.atheloai:hover {
  background-color: black;
  color: aliceblue;
}
/* theloai */
.divTL {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.imgtl {
  width: 18vw;
  height: 26vw;
}
.p2Creat {
  width: 18vw;
  color: rgb(255, 255, 255);
  background-color: red;
  text-align: center;
  padding: 0.5vw;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.5vw;
}
.divImg {
  margin: 0 auto;
}
#iidImg {
  width: 80%;
  margin: 0 auto;
}
