
:root {
  --primary-gradient: white
  --text-light: #ffffff;
  --text-dark: #000000;
  --accent-color: #ff3c3c;
  --border-radius-sm: 8px;
  --border-radius-md: 15px;
  --border-radius-lg: 30px;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

img {
  border-radius: 5px;
}

.logo a img {
  width: 14vw;
  height: 6vw;
}


.header {
  margin-bottom: 5px;
}

.ul {
  display: flex;

  justify-content: center;
  gap: 6px;
}

.tpbody {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.body {
  
  width: 80%;
}
/* tim kiem */
.csearch {
  position: relative;
  display: flex;
}
.text {
  text-align: center;
  width: 3vw;
  height: 3vw;
  color: black;
  font-size: 1vw;
  border-radius: 50px;
  border: solid 2px rgb(241, 238, 241);
  transition: 0.8s;
  justify-content: center;
  align-items: center;
}
.search {
  display: flex;
  justify-content: center;
  position: relative;
  height: 2vw;
  margin-top: 2vw;
}
.but {
  font-size: 1.5vw;
  cursor: pointer;
  width: 3.8vw;
  height: 3.8vw;
  border-radius: 50px;
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -0.5vw;
  left: -0.5vw;
  position: absolute;
  transition: 0.8s;
}
.text.fix {
  width: 45vw;
  border-radius: 50px;
  padding-left: 4vw;
}
.but:focus,
.text.fix:focus {
  outline: none;
}
#i {
  transition: transform 0.8s ease;
}

#i.ii {
  transform: rotate(450deg);
}
/* truyen de cu */

.truyenmoi {
  width: 20%;
  height: 35em;
  background-size: cover;
  background-position: center;
  position: relative;
}

.fullmh {
  flex: 1;
}
.thongtin {
  width: 100%;
  height: 40%;
  background-color: rgba(0, 0, 0, 0.419);
  position: relative;
  top: 60%;
  color: white;
}
.doc {
  text-decoration: none;
  color: white;
  height: 3vw;
  border-radius: 30px;
  background-color: red;
  position: absolute;
  right: 3px;
  bottom: 5px;
  width: 8vw;
  font-size: 1.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  position: relative;
}
.arow .fa-solid {
  text-align: center;
  font-size: 4.8vw;
  width: 5vw;
  height: 5vw;
  background-color: rgba(245, 245, 220, 0.433);
  border-radius: 50%;
  position: absolute;
  top: 40%;
  cursor: pointer;
}
.arow {
  opacity: 0;
}
.right {
  right: 0;
}

.x {
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: rgba(106, 126, 126, 0.837);
  text-align: center;
  font-size: 20px;
}

/* an dang nhap */
.hide {
  display: none;
}
.danhsachchinh {
  width: 80%;

  display: flex;
  gap: 1rem;

  justify-content: center;
  margin: 0 auto;
  margin-top: 1em;
}


.canchinh {
 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 0.8rem;
  justify-content: center;
}
.img {
  padding: 1em 1em 0em;
  width: 100%;
  min-width: 140px;
  height: 16vw;
  min-height: 200px;
  object-fit: cover;
  border-radius:8px 8px 0 0;
}
.ulImg span{
  display: flex;
 margin: 0 auto;


}
div .liImg{
  display: flex;
  width: 2.5em;
height: 2.5em;
  margin: 4px;
  cursor: pointer;
  border-radius: 50%;
  border: solid 1.5px rgb(145, 134, 134);
  justify-content: center;
align-items: center;
}
.liImg {

  font-size: 1em;

  color: rgb(0, 0, 0);
  
  text-decoration: none;

}
.mauTrang {
  background: rgba(0, 0, 0, 0.605);
}
.pCreat {
  width: 12vw;
  display: block;
  cursor: pointer;
  color: rgb(0, 0, 0);
  padding: 0.5vw;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  text-align: center;
  font-size: 1.2vw;
  overflow: hidden;
  white-space: nowrap; /* Ngăn văn bản xuống dòng */
  text-overflow: ellipsis; /* Hiển thị dấu ba chấm khi tràn */
}
.pCreat:hover{
  color: rgb(251, 161, 51);
  text-decoration: underline;
}
.overlay {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  overflow-y: auto;
  background-color: rgba(237, 235, 235, 0.085);
}
.iframe-container {
  position: relative;
  margin: 50px auto;

  width: 80%;
  padding: 20px;
  border-radius: 10px;
  background-color: #6b66a3;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
}

.imgChiTiet {
  width: 15vw;
  height: 22vw;
}
.thongTin {
  display: flex;
  width: 100%;
}
.phanThongTin {
  display: flex;
  flex: 6;
}
.phanChap {
  flex: 4;
  overflow: auto;
  height: 80vh;
}
.ulChiTiet {
  margin-left: 10px;
  word-break: break-all;
  color: aliceblue;
  position: relative;
}

.divChap {
  height: 20px;
  display: flex;
  cursor: pointer;
}
.divChap:hover {
  color: azure;
  background-color: rgba(13, 20, 20, 0.564);
}
.pageTrang {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow-y: auto;
  background-color: rgba(237, 235, 235, 0.085);
}
.hienThiTrang {
  position: relative;
  margin: 0px auto;
  width: 100%;

  border-radius: 10px;
  background-color: #ffffff;
}

.thongTinTrang {
  overflow: auto;
  height: 100vh;
}
.imgTrangTruyen {
  display: flex;
  justify-self: center;
  width: 50vw;
  height: auto;
}
.divChap {
  color: aliceblue;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: rgba(240, 248, 255, 0.132);
  margin: 5px auto;
}
hr {
  margin-right: 4px;
}

.giaodien {
  color: antiquewhite;
  font-size: 1em;
}

.user_khach_hang {
  display: flex;
  align-items: center;
  display: none;
}
.anh_dai_dien {
  width: 2.4vw;
  height: 2.4vw;
  border: solid 2px rgb(234, 179, 179);
  border-radius: 50%;
}

.name_khach_hang {
  font-size: 1.3vw;
}
/* the loai */
.theloai2 {
  width: 40vw;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  min-width: 250px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  z-index: 100;
  padding: 1rem;
  visibility: hidden;
  transform: translate(10vw);
}
.theLoai {
  position: relative;
}
.divtheloai2,
.divtheloai {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.atheloai {
  cursor: pointer;
  display: flex;
  border: solid 1px black;
  border-radius: 20px;
  margin: 5px;

  width: 7vw;
  height: 2vw;
  justify-content: center;
  align-items: center;
}
.ptheloai {
  font-size: 0.8vw;
  font-weight: 600;
}
.atheloai:hover {
  background-color: black;
  color: aliceblue;
}
/* theloai */
.divTL {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.imgtl {
  width: 14vw;
  height: 20vw;
}
.p2Creat {
  width: 14vw;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 0.5vw;
  cursor: pointer;
  font-size: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.divImg {

  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
#iidImg {
  width: 80%;
  margin: 0 auto;
}
.divTT {
  position: absolute;
  width: 38vw;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.938);
  overflow: hidden;
  text-overflow: ellipsis;
}
.liTT {
  margin: 1vw;
}
.divTTP {
  display: flex;
  margin: 1vw;
}
.pTT {
  background-color: aqua;
  padding: 0.3vw;
  margin-right: 0.5vw;
  border-radius: 8px;
  font-size: 1vw;
}
.lichsu {
  position: relative;
}
.lichsuul,
.lichsuul2 {
  width: 40vw;
  height: 40vw;
  background-color: white;
  position: absolute;
  overflow: auto;
  visibility: hidden;
  min-width: 200px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
  border-radius: 8px;
  top: 100%;
  left: 0;
}
.lichsuimg {
  width: 10vw;
  height: 10vw;
}
.lichsup {
  font-size: 1vw;
}
.logout {
  width: 5vw;
  height: 1.5vw;
  font-size: 1vw;
 background-color: #ffffff;
  position: absolute;
  top: 5vw;
  right: 2vw;
  text-align: center;
  z-index: 3;
  display: none;
}

.liTTa {
  padding: 0.5vw;
  margin-bottom: 0.5vw;

  border-radius: 4px;
  margin-right: 3px;
  background-color: rgba(0, 0, 0, 0.381);
}
.nameStory {
  overflow: auto;
  height: 22vw;
}
.xoay {
  font-size: 2vw;
}
.liked {
  color: red;
}
.divyeuthich {
  position: absolute;
  left: 0;
  top: 23vw;
}

#canvas {
  width: 100%;
  height: 100%;
}
/*  */
@media screen and (max-width: 576px) {

  .taikhoan {
    margin-top: var(--spacing-xs);
    width: 100%;
    justify-content: flex-end;
  }
  .upload {
    display: none;
  }
  .tk1 {
    padding: 6px 12px;
  }

  .tk {
    font-size: 0.9rem;
  }

  .text,
  .but {
    width: 40px;
    height: 40px;
    font-size: 0.9rem;
  }

  .img {
    width: 130px;
    height: 195px;
  }

  .liImg {
    font-size: 0.8rem;
    padding: 6px 12px;
  }

  .atheloai {
    padding: 6px 12px;
  }

  .ptheloai {
    font-size: 0.8rem;
  }

  .imgtl {
    width: 140px;
    height: 210px;
  }

  .p2Creat {
    width: 140px;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 768px) {
  .logo a img {
    width: 120px;
  }

  .head {
    padding: var(--spacing-xs);
  }

  .ul {
  
   
    flex-wrap: wrap;
   
  }

  .ul li a {
    position: relative;
    font-size: 0.8rem !important;
  
  }
  .atheloai{
    width: 60px;
    height: 20px;
  }
.ptheloai{
  font-size: 0.7em;
}
.theloai2{
  left: -270px;
  width: 400px;

}
  .h2 {
    font-size: 1.3rem;
  }

  .truyenmoi {
    flex: 1 1 100%;
    height: 350px;
  }

  .doc {
    font-size: 0.9rem;
  }

  .danhsach,
  .upload {
    flex: 1 1 100%;
  }

  .thongTin {
    flex-direction: column;
  }

  .imgChiTiet {
    width: 150px;
    height: 225px;
  }

  .imgTrangTruyen {
    width: 100%;
  }
  .iframe-container{
    width: 100% !important;
    height: 100% !important;
    overflow: auto;
    display: flex;
  }
  .ulChapter{
    position: absolute;
    top: 280px;
  }
}
